.header {
    background-color: #fff;
    border-bottom: 2px solid #ee7033;
    box-shadow: 0 1px 1px #968f84;
    height: $headerHeight / 2;
    padding: $headerPaddingY / 2 $paddingX / 2;
}
.header__logo {
    height: $headerImageHeight / 2;
}

@media (min-width: 700px) and (min-height: 500px) {
    .header {
        height: $headerHeight;
        padding: $headerPaddingY $paddingX;
    }
    .header__logo {
        height: $headerImageHeight;
    }
}
