.transaction-panel {
    margin: 30px auto;
    box-shadow: 0 0 5px -1px $shadowColor;
}
.transaction-panel__header {
    background-color: #0c8397;
    color: #fff;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    position: relative;
}
.transaction-panel__icon {
    height: 45%;
    left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.transaction-panel__title {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.transaction-panel__body {
    background-color: #fff;
    padding: 35px 20px;
}
.transaction-panel__search-sort {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.transaction-panel__search {
    border: none;
    border-bottom: 1px solid $borderColor;
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    height: 35px;
    margin-bottom: 10px;
    width: 100%;
}
.transaction-panel__sort {
    display: flex;
    flex-direction: column;
}
.transaction-panel__sort-label {
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
}
.transaction-panel__sort-controls {
    display: flex;
    max-width: 100%;
}
.transaction-panel__sort-button {
    border: 1px solid $borderColor;
    border-radius: 0;
    flex-grow: 1;
    height: 35px;
    max-width: 120px;
    padding: 0 10px;
    text-transform: uppercase;
    &:first-child {
        border-right: none;
    }
    &:last-child {
        border-left: none;
    }
}
.transaction-panel__list {
    margin-top: 30px;
}
.transaction-panel__transaction {
    border: 2px solid $borderColor;
    border-top: none;
    border-left: none;
    height: 124px;
    padding: 10px 20px 10px 25px;
    position: relative;
    &:first-child {
        border-top: 2px solid $borderColor;
        .transaction-panel__category-marker {
            top: -2px;
        }
    }
}
.transaction-panel__category-marker {
    bottom: -2px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 10px;
}
.transaction-panel__row {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;
}
.transaction-panel__date-column {
    width: 80px;
    font-weight: 300;
}
.transaction-panel__image-column {
    height: 40px;
    text-align: right;
    width: 60px;
}
.transaction-panel__merchant-image {
    height: 100%;
}
.transaction-panel__transaction-merchant {
    font-weight: bold;
}
.transaction-panel__transaction-type {
    font-weight: 300;
}
.transaction-panel__transaction-amount {
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 650px) {
    .transaction-panel__transaction {
        height: 74px;
        display: flex;
    }
    .transaction-panel__row:last-child {
        flex-grow: 1;
    }
    .transaction-panel__image-column {
        margin-left: 50px;
        margin-right: 40px;
     }
}
@media (min-width: 800px) {
    .transaction-panel__search-sort {
        flex-direction: row;
    }
    .transaction-panel__search {
        width: 45%;
    }
    .transaction-panel__sort {
        flex-direction: row;
    }
    .transaction-panel__sort-button {
        padding: 0 20px;
    }
}
@media (min-width: 1200px) {
    .transaction-panel {
        margin-top: 0;
        width: calc(75% - 30px);
        display: inline-block;
        float: right;
        vertical-align: top;
    }
}
